{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Hello World!
    </h1>

    <p>
        My new website is still under construction but CSS compiler is working now yeayyyyy !!!
    </p>

    <h2>
        DB comming soon...
    </h2>
{% endblock %}

